*.o
*.a
*.so
*.log
/fer/special/xmake_date_data.F
/fer/special/xplatform_type_data.F
/fer/special/xrevision_type_data.F
/threddsBrowser/bin/
/threddsBrowser/threddsBrowser.jar
/build/
/install/
/bin/build_fonts/unix/binary
/bin/build_fonts/unix/fnt01.chr
/bin/build_fonts/unix/fnt02.chr
/bin/build_fonts/unix/fnt03.chr
/bin/build_fonts/unix/fnt04.chr
/bin/build_fonts/unix/fnt05.chr
/bin/build_fonts/unix/fnt06.chr
/bin/build_fonts/unix/fnt07.chr
/bin/build_fonts/unix/fnt08.chr
/bin/build_fonts/unix/fnt09.chr
/bin/build_fonts/unix/fnt10.chr
/bin/build_fonts/unix/fnt11.chr
/bin/build_fonts/unix/fnt12.chr
/bin/build_fonts/unix/fnt13.chr
/bin/build_fonts/unix/fnt14.chr
/bin/build_fonts/unix/fnt15.chr
/bin/build_fonts/unix/fnt16.chr
/bin/build_fonts/unix/fnt17.chr
/bin/build_fonts/unix/fnt18.chr
/bin/build_fonts/unix/fnt19.chr
/bin/build_fonts/unix/fnt20.sym
/bin/build_fonts/unix/fnt21.sym
/bin/build_fonts/unix/fnt22.sym
/bin/build_fonts/unix/fnt23.sym
/bin/build_fonts/unix/fnt24.sym
/bin/build_fonts/unix/fnt25.sym
/bin/build_fonts/unix/fnt26.sym
/bin/build_fonts/unix/fnt27.sym
/bin/build_fonts/unix/fnt28.sym
/bin/build_fonts/unix/fnt29.sym
/bin/build_fonts/unix/fnt30.sym
/bin/build_fonts/unix/fnt31.chr
/bin/build_fonts/unix/fnt32.chr
/bin/build_fonts/unix/fnt33.sym
