body 
{
background-color:white;
margin-left:20px;
margin-right:20px;
}

h1 
{
text-align:center;
}

h2 
{
text-align:center;
}

h3 
{
text-align:left;
color:green;
}

p
{
text-align:left;
}

dt
{
font-weight:bold;
}
