	BLOCK DATA XPLATFORM_TYPE_DATA

* this BLOCK DATA is generated automatically by the FERRET make routine
* v5.33 *kob* new template to add platform information

	include 'xplatform_type.cmn'

	DATA platform_type	/ 'mmmmmmmm' /

	END
