	BLOCK DATA XREVISION_TYPE_DATA

* this BLOCK DATA is generated automatically by the FERRET make routine
* V4.02 8/95 - added initialization of progname_mod and len_progname_mod
*		which were formerly handled in XREVISION_DATA.F

	include 'xrevision_type.cmn'

	DATA revision_type	/ 'mmmmmmmm' /

	END
